<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NME Blog</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>NME Blog</h1>
    <% articles.forEach(function(article, index) { %>
      <div>
        <a href="#">
          <h2><%- article.title.rendered %></h2>
          <p><%- article.excerpt.rendered %></p>
        </a>
    </div>
    <% }) %> 


</body>
</html>